<div class="wrapper">
  <header id="home">
    <nav class="nav flex-item">
      <div class="nav-navbar flex-item">
        <div class="nav-brand">
          <a href="index.html">
            <div class="nav-brand-inner">
              <span>Sleezy</span>
            </div>
          </a>
        </div>
        <div class="open-icon icon">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <ul class="navbar flex-item">
        <div class="close-icon icon">
          <i class="fas fa-times"></i>
        </div>
        <li class="nav-item brand">
          <div class="nav-brand-inner">
            <span>Sleezy</span>
          </div>
        </li>
        <li class="nav-item">
          <a href="#home" class="nav-link current">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
      <ul class="navbar reg-items">
        <li class="nav-item">
          <a href="#home" class="nav-link">Login</a>
        </li>
        <li class="nav-item divider">
          <span>|</span>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">Register</a>
        </li>
      </ul>
    </nav>
  </header>
</div>